<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd";>
  <span class="navbar-brand mb-0 h1">Roulette</span>
</nav>
<div class="container">
  <div class="col-md-6 mx-auto" style="margin-top: 20vh">
    <div class="card text-center ">
      <h4 class="card-header">Login</h4>
      <div class="card-body"><label class="invalid">invalid</label>
        <br>
        <h4 class="card-title">Enter Your Unique ID</h4>
        <p class="card-text">
          <input type="text" class="form-control"/>
        </p>
        <a href="#" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>
