<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd";>
  <span class="navbar-brand mb-0 h1">Roulette</span>
</nav>
<div class="container">
  <div class="col-md-6 mx-auto" style="margin-top: 20vh">
    <div class="card text-center">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
        <br>
        <h4 class="card-title">Enter Your Unique ID</h4>
        <p class="card-text">
          <input type="text" class="form-control"/>
        </p>
        <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>

  Customer details are {{cust}}

  <div>
<router-outlet></router-outlet>
  </div>
